<div class="row">
    <div class="col-xs-12">
        <img
         src="https://smapse.com/storage/2018/11/elmo-sanat-uni-8.jpg" 
         alt="" 
         class="img-responsive"
         style="max-height: 250px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Loction Name</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button
             type="button" 
             class="btn btn-primary dropdown-toggle">
             Manage Location <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Information </a></li>
                <li><a href="#">Edit Information </a></li>
                <li><a href="#">Delete the location</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Information 
    </div>
</div>