.grid-parent{
    position: relative;
    z-index: 50;
}

.search{
    margin-top: 50px;
    width: 100% ;
}

.tile{
    position: relative;
    background-image: url('../../assets/back.jpg');
}

.child-card{
    margin: 20px;
}

.side-section{
    width: 300px;
    margin: 20px;    
}

