.search {
    margin-top: 50px;
    width: 100%;
}

.tile {
    position: relative;
    background-size: cover;
}

.child-card {
    margin: 20px;
}

.side-section {
    width: 70%;
    margin: 20px;
}

.underline {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 125%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.underline:hover {
    border-radius: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.hr {
    background-color: #d2cece;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.input {
    border-radius: 10px;
}

#leftbar {
    width: 20%;
}

#content {
    width: 50%;
}

#content.sticky {
    width: 50%;
    margin-left: 20%;
}

#leftbar.sticky {
    width: 20%;
    position: fixed;
    top: 60px;
}

#rightbar {
    width: 30%;
}

#rightbar.sticky {
    position: fixed;
    margin-left: 70%;
    width: 30%;
    top: 60px
}

.add-post {
    display: flex;
    justify-content: center;
    transform: scale(1.25);
}

.add-post-fixed {
    position: fixed;
    margin-left: 8%;
    transform: scale(1.25);
}

.tp {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}