<app-nav-bar></app-nav-bar>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email"
              type="email"
              ngModel
              required
              email
              name="email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password"
              type="password"
              ngModel
              required
              minlength="8"
              name="password">
            </mat-form-field>
          </mat-card-content>

          <mat-checkbox>Remember me!</mat-checkbox>
          <button mat-stroked-button color="accent" class="btn-block"
            type="submit"
            [disabled]="!loginForm.valid">Log in</button>

        </form>
      </mat-card>

    </div>
