.center {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    border-radius: 10px;
    padding: 10px;
}

.save-button {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.grid {
    overflow-y: scroll;
    height: 400px;
    overflow-x: visible;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #bbdefb 0%, #0d47a1 100%);
    background-image: linear-gradient(120deg, #bbdefb 0%, #0d47a1 100%);
}

.underline {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-top: 10px;
}

.underline:hover {
    border-radius: 10px;
    background-color: #d6d8e2;
    cursor: pointer;
}