<div class="row">
    <div class="col-xs-10">
        <hr>
        <form >
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="passWord">PassWord</label>
                    <input type="password" id="passWord" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="confirmPassWord">Confirm PassWord</label>
                    <input type="password" id="confirmPassWord" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    
                    <button style="margin: 5px;" class="btn btn-primary" type="button">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>