.cover {
  height: 400px;
  background-image: url('../../assets/back.jpg');
  background-size: cover;
}

.pro-info {
  height: 200px;
  width: 100%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: -50px;
  border-radius: 10px;
}

.number {
  margin-top: 5px;
}

.number:hover {
  text-decoration: underline;
  cursor: pointer;
}

#leftbar {
  width: 20%;
}

#content {
  width: 50%;
}

#content.sticky {
  width: 50%;
  margin-left: 20%;
}

#leftbar.sticky {
  width: 20%;
  position: fixed;
  top: 60px;
}

#rightbar {
  width: 30%;
}

#rightbar.sticky {
  position: fixed;
  margin-left: 70%;
  width: 30%;
  top: 60px
}

.underline {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin-top: 10px;
}

.underline:hover {
  border-radius: 10px;
  background-color: #d6d8e2;
  cursor: pointer;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 7;
}

.item3 {
  grid-column-start: 7;
  grid-column-end: 10;
  display: flex;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 5px;
  height: 100%;
}

.plan:hover {
  background-color: rgb(241, 236, 241);
  border-radius: 5px;
  margin-left: 10%;
}

.hr {
  background-color: #d2cece;
  width: 80%;
}

.location-icon {
  font-size: 15px;
  margin-left: -8px;
  color: rgb(14, 212, 219);
}

.city {
  margin-top: 1px;
  font-size: 8px;
  margin-left: -2px;
}

.im {
  height: 85%;
  width: 106%;
  margin-top: 5px;
  margin-left: -7px;
  background-size: cover;
}

.date {
  margin-top: 1px;
  margin-left: 3px;
  font-size: 8px;
}