
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div style="border-radius: 10px;" class="view w-100 ">
        <img  class="d-block w-100 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100"  style="border-radius: 10px;">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100"  style="border-radius: 10px;">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
      </div>
    </mdb-carousel-item>
  </mdb-carousel>