<mat-card *ngFor="let post of posts" class="example-card shadow-lg p-3 mb-5 bg-white ">
    <div style="background-color:#3f51b5; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <mat-card-header style="padding: 3%;">

            <div matRipple mat-card-avatar class="example-header-image"></div>
            <mat-card-title style="color: white;" >{{post.userName}}</mat-card-title>
            <mat-card-subtitle style="color: whitesmoke; display: flex;">
                
                <div >
                    in Trip to <b>{{post.city}}</b>
                </div>
                


            </mat-card-subtitle>

            <div style="margin-left: 35%;margin-top: 17px;color: whitesmoke;transform: scale(0.75);" *ngIf="post.placeName!=null" >
                <mat-icon  class="fas fa-map-marker-alt"></mat-icon>
                <b>{{post.placeName}}</b>
            </div>

        </mat-card-header>
    </div>

    <div style="padding: 5%;">
        <mat-card-content>
            <p>
                {{post.description}}
            </p>
        </mat-card-content>
      
        <app-location-carousel></app-location-carousel>

        <form class="example-form">

            <div style="width: 100%;">
                <mat-form-field  class="example-full-width" style="margin-right: 5px;">
                    <mat-label>Leave a comment</mat-label>
                    <textarea ngModel #comment  matInput placeholder="It makes me feel..."></textarea>
                </mat-form-field>
                <a (click)="onComment(post,comment)" mat-icon-button style="width:10%; color:#9e9e9e;">
                    <mdb-icon far icon="paper-plane" size="2x"></mdb-icon>
                    
    
                </a>

                <a (click)='onLike(post)' mat-icon-button style="width: 10%;color:#9e9e9e;" *ngIf="!post.isLiked">
                    <mdb-icon far icon="heart" size="2x"></mdb-icon>
                    <b style="margin-left: 5%; color: black;">{{post.likeNums}}</b>
                </a>
                <a (click)='onDislike(post)' mat-icon-button color="warn"
                style="width: 10%;" *ngIf="post.isLiked">
                    <mdb-icon fas icon="heart" color="red" size="2x"></mdb-icon>
                    <b style="margin-left: 5%; color: black;">{{post.likeNums}}</b>
                    
                </a>
                
            </div>
          


        </form>

       
        <app-comment [postId]="post.id" ></app-comment>
     
    </div>

</mat-card>