.example-card {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 50px #888888;
    border-radius: 5%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    cursor: pointer;
    margin-top: 20px;
    
  }

  .example-ripple-container {
    cursor: pointer;
    text-align: center;
    border-radius: 2%;
    

  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 10px;
    display:flex;
  }
  
  .example-full-width {
    flex-grow: 15;
    
  }