.example-card {
    box-shadow: 10px 10px 50px #888888;
    border-radius: 10px;
    padding: 0px !important;
  }
  
  .example-header-image {
    background-size: cover;
    transform: scale(1.5);
    margin-left: 10px;
    cursor: pointer; 
  }

  .example-ripple-container {
    cursor: pointer;
    text-align: center;
    border-radius: 2%;
    

  }
  .example-form {
    min-width: 150px;
    width: 100%;
    margin-top: 10px;
    display:flex;
  }
  
  .example-full-width {
    width: 70%;
    
  }

  .trip{
    color: rgb(204, 204, 204);
  }

  .trip:hover {
    cursor: pointer;
    color: #7986cb;

  }

  .usernamelink:hover{
    cursor: pointer;
    color: #c5cae9;
  }

  .comment:hover{
    cursor: pointer;
  }