<div style="display: block;margin: 10px;display: block;margin: 10px;">
  <div style="display: flex;justify-content: center;">
    <div style="display: flex;width: 60%;">
      <span [routerLink]="['/profile', userId]"><img mat-card-avatar class="example-header-image"
          [src]="profileImg"></span>
      <div style="font-size: 18px;;overflow: hidden;margin-top: 7px;">
        <div style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin-left: 10px;"
          [routerLink]="['/profile', userId]">{{email}}</div>
        <div style="margin-left: 10px;margin-top: 3px;font-size: 14px"><strong>{{rate}}</strong></div>
      </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: center;">
      <button *ngIf="allowFollowRequest" mat-raised-button class="follow" color="primary" style="width: 85%;
      height: 70%;
      justify-content: center;
      display: flex;">
        <mat-icon style="font-size: 14px; margin-top: 8px; margin-left: -6px;">person_add</mat-icon><span
          style="font-size: 12px;" (click)="onFollow()">{{followButtonTitle}}</span>
      </button>
      <button *ngIf="!allowFollowRequest" mat-raised-button class="follow" color="basic" style="width: 85%;
      height: 70%;
      justify-content: center;
      display: flex;">
        <mat-icon style="font-size: 14px; margin-top: 8px; margin-left: -6px;">person</mat-icon><span
          style="font-size: 12px;" (click)="onFollow()">{{followButtonTitle}}</span>
      </button>
    </div>
  </div>
  <hr class=hr style="margin-top:10px">
</div>