<div class="example-card">
    <div class="wrapper" >
      <img mat-card-avatar class="example-header-image" [src]="profileImg">
      <div class="title">
        <div class="name">{{email}}</div>
        <div class="trip"><strong>{{rate}}</strong></div>
      </div>
    </div>
         
    <button mat-raised-button class="follow" color="primary"><mat-icon style="font-size: 18px; margin-top: 3px; margin-left: -6px;">person_add</mat-icon><span style="margin-left: 3px;">follow</span></button>

    <hr class=hr>

</div>
  
  
  