.example-card {
    height: auto;
    margin-top: 13px;
  }
  
  .title{
    display: block;
    margin-left: 15px;
  }
  
  .follow{
    float: right;
    justify-content: center;
    width:auto;
    margin-top: 3px;
  }
  
  .wrapper{
    display: inline-flex;
  }
  
  
  .example-header-image {
    background-size: cover;
    width: 50px;
    height: 50px;
  }
  
  .name{
    font-size:18px;
    margin-top:5px;
  }

  .trip{
    font-size:11px;
    margin-top:0px;
  }

  .hr{
    background-color: #d2cece;

height: 1px;

width: 171px;

margin-top: 2px;

margin-bottom: 0px;
}
