<div (click)="onAllPage()">
    <mat-toolbar color="primary" class="nav-bar">
        <span routerLink="homepage" routerLinkActive="active">
            <img class="logo" src="{{url+'/media/images/begrd_icon.svg'}}"> <span class="name">Begard</span>
        </span>
        <button class="searchinput">
            <mat-icon style="color: black; font-size: 30px;">search</mat-icon>
        </button>
        <div class="spacer"></div>
        <div *ngIf="!(loginStatus$ | async)">
            <a mat-raised-button color="basic" routerLink="login" routerLinkActive="active">Login</a>
            <a mat-button mat-raised-button color="accent" routerLink="register" routerLinkActive="active">Register</a>
        </div>
        <div *ngIf="(loginStatus$ | async)" style="display: flex; align-items: center;">
            <button mat-button color="primary" *ngIf="(userEmail$ | async) as userEmail" class="font"
                [matMenuTriggerFor]="accountOptions">{{userEmail}}<mat-icon style="margin-left: 10px;"
                    class="white-icon">
                    account_circle</mat-icon>
            </button>
            <div style="display: flex; justify-content: center;margin-top: 5px;">
                <mat-icon style="font-size: 20px;" *ngIf="notfiNums>0" matBadge="{{notfiNums}}" matBadgeColor="accent"
                    matBadgeSize="small" class="notif" (click)=" openDialog($event)">notifications</mat-icon>
                <mat-icon style="font-size: 20px;" *ngIf="notfiNums===0" class="notif" (click)=" openDialog($event)">
                    notifications</mat-icon>
                <div (click)="onNotif()" *ngIf="!notifDisable" style="margin-top: 30px;
                    width: 400px;
                    transform: translateX(-191px);
                    position: absolute;
                    display: flex;
                    justify-content: flex-end;">
                    <mat-card class="scrollbar-ripe-malinka" style="width: 100%;max-height: 400px;overflow-y: auto;">
                        <h1 style="display: flex;justify-content: center;">Notifications</h1>
                        <hr>
                        <div *ngFor="let item of items">
                            <div>
                                <mat-grid-list cols="9" rows="2" rowHeight="30px"
                                    style="margin-left: -10px;margin-right: -10px;">
                                    <mat-grid-tile routerLink="{{'/profile/'+item.userId}}" [colspan]="2" [rowspan]="2">
                                        <img mat-card-avatar style="transform: scale(1.5);cursor: pointer;"
                                            src='{{item.proImg}}'>
                                    </mat-grid-tile>
                                    <mat-grid-tile routerLink="{{'/profile/'+item.userId}}" class="username"
                                        [colspan]="5" [rowspan]="2">
                                        <div matTooltip="{{item.userName}}" [matTooltipPosition]="'above'" style=" white-space: nowrap;  
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            cursor: pointer; ">
                                            {{item.userName}}
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="req-icons" [colspan]="2" [rowspan]="1">
                                        <div style="display: block;">
                                            <button (click)="onAccept(item)"
                                                style="transform: scale(0.80);border-radius: 5px;" mat-raised-button
                                                color="primary">accept</button>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                                        <div style="display: block;">
                                            <button (click)="onDecline(item)"
                                                style="transform: scale(0.80);border-radius: 5px;" mat-raised-button
                                                color="accent">decline</button>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <hr>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <mat-menu #accountOptions>
                <button mat-menu-item routerLink="homepage" routerLinkActive="active" (click)="logout()"
                    class="logout">Logout<mat-icon class="logout-icon">exit_to_app</mat-icon></button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>