
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

<p>
  
  <mat-form-field class="search-box">
    <mat-select [formControl]="cityCtrl" placeholder="City" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="cityFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let city of filteredCities | async" [value]="city">
        {{city.name}}
      </mat-option>
    </mat-select>


  </mat-form-field>
 

 
  
</p>

<button (click)="onSearch()" at-stroked-button color="primary" class="btn-block">Search</button>
</div>

