<div class="container">
  <div class="row">
    <div class="col-xs-12">

<form #searchForm="ngForm" class="example-form" (ngSubmit)="onSearch(searchForm.value)">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      
      <input type="text"
             class="form-control"
             placeholder="Pick one"
             aria-label="Number"
             id="cityName"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             required ngModel name="cityName"
             >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredCities | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!searchForm.valid"
  >
    Search
  </button>
  </div>
</form>

    </div>
  </div>
</div>