<div class="row">
  <div class="col-md-6">
    <div id="map" class="map"></div>
      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>
  </div>
  <div class="col-md-6">
    <!-- <app-location-detail
     *ngIf="selectedLocation; else infoText"
     [location]="selectedLocation"></app-location-detail> -->
     <router-outlet ></router-outlet>
    <!-- <ng-template #infoText>
      <p>Please Select a Location!</p>
    </ng-template> -->
  </div>
</div>


<hr>
<div class="row">
  <div class="col-md-6">
    <app-location-list ></app-location-list>
  </div>
</div>
